.title__difficulty {
  font-size: 2.2rem;
  color: #6757d9;
  margin-bottom: 70px;
}

.level__btn {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 300px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #6757d9;
  cursor: pointer;
  transition: all 250ms ease-in 20ms;
  -webkit-transition: all 250ms ease-in 20ms;
  -moz-transition: all 250ms ease-in 20ms;
  -ms-transition: all 250ms ease-in 20ms;
  -o-transition: all 250ms ease-in 20ms;
}

.level__btn:hover {
  background-color: #6757d9;
  color: #fff;
}

.link__home {
  color: #6757d9;
  font-size: 1rem;
  background-color: #eeedfb;
  border: 2px solid #6757d9;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 8px 15px;
  margin: 20px 20px 0 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms ease-in 20ms;
  -webkit-transition: all 250ms ease-in 20ms;
  -moz-transition: all 250ms ease-in 20ms;
  -ms-transition: all 250ms ease-in 20ms;
  -o-transition: all 250ms ease-in 20ms;
}

.link__home:hover {
  background-color: #6757d9;
  color: #fff;
}
